:root {
  --primary-color: #5744aa;
  --white: #fff;
  --light-gray-color: #EEE;
  --gap: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  color: var(--white);
  background: var(--white);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

h1 { font-size: 3rem; }
h2 { font-size: 5.5rem; }
h3 { font-size: 5rem; }
h4 { font-size: 4.5rem; }
h5 { font-size: 4rem; }
h6 { font-size: 3.5rem; }

a { text-decoration: none; }
p { margin-bottom: 3rem; }

.main-bg {
  background-image: url(/landing-page/assets/img/confetti-doodles.svg);
  background-size: cover;
  background-position: center center;
  color: var(--white);
}

.white-gb {
  background: var(--white);
  color: var(--primary-color);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
}

.section {
  min-height: 100vh;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0.1rem solid var(--light-gray-color);
  z-index: 1;
   background: var(--white);
}

.menu-content {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
}

.menu h2 {
  font-size: 2.3rem;
  padding: 2rem;
  color: var(--primary-color);
  padding: 1rem 0;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.menu ul a {
  display: block;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--primary-color);
  position: relative;
  white-space: nowrap;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: crimson;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 50%;
  left: 25%;
}

.menu-spacing {
  height: 65px;
}

.intro-content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.intro-text-content h2 {
  font-size: 6rem;
  margin-bottom: 6rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.top3-content {
  max-width: 64rem;
  text-align: center;
}

.top3-content h2 {
  font-size: 6rem;
  margin-bottom: 6rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 3rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -3rem;
  left: -1rem;
  transform: rotate(5deg);
}

.gallery-img {
  overflow: hidden;
  width: 100%;
  height: 30rem;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
  transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.responsive-table {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table caption {
  font-style: italic;
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 1rem;
}

table td, table th {
  padding: 1rem;
  border: 0.1rem solid var(--light-gray-color);
  text-align: left;
}

table thead th,
table tfoot td {
  background: var(--light-gray-color);
}

table tfoot td {
  text-align: right;
}

.form-grid {
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.form-group {
  flex: 1 1 40rem;
}

.form-group label {
  display: block;
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
  border: none;
  background: var(--white);
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: 2rem;
}

.form-group input:focus,
.form-group textarea:focus {
  box-shadow: 0 0 1rem 0.2rem crimson;
}

.form-group button {
  border: 0.5rem solid var(--white);
  background: none;
  color: var(--white);
  padding: 1.5rem 2rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.form-group button:hover {
  background: var(--white);
  color: var(--primary-color);
}
.close-menu{
    display: none;
}

@media (max-width: 800px) {
  .intro-content,
  .grid {
    grid-template-columns: 1fr;
  }
  
  h2 {
    font-size: 4rem;
  }
  
  .email {
    width: 100%;
  }
  .menu {
    bottom: 0;
  }
  .menu-content, .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }
  .menu-content{
        height: 100vh;
  }
  .menu{
    display: none;
  }
    .close-menu-label::after{
    content: '☰';
    position: fixed;
    z-index: 2;
    top: 1rem;
    right: 1rem;
    background: var(--primary-color);
    color: var(--white);
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }
  .close-menu:checked~.menu{
    display: block;
  }
  .close-menu:checked~.close-menu-label::after{
    content: '×';
  }
  .menu-spacing{
    display: none;
  }
  .back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
  }
}